@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0; }

.carritoUser__container {
  position: absolute;
  top: 60px;
  left: 85vw;
  z-index: 1; }
  .carritoUser__container .carritoUser__icon {
    color: black;
    margin: 20px; }
    .carritoUser__container .carritoUser__icon:hover {
      transform: scale(1.1);
      transition: 0.1s; }

.navbar {
  background-color: white !important;
  margin: 0px 0 10px 0; }
  .navbar .container-fluid {
    padding: 0 !important;
    flex-direction: column;
    background-color: white;
    border-bottom: solid 1px #cccccc; }
    .navbar .container-fluid .imgLogo img {
      margin: 20px 0 20px 0; }
    .navbar .container-fluid .imgLogo .logo__min {
      display: none; }
    .navbar .container-fluid .nav-item .nav-link {
      text-decoration: none;
      margin: 0 20px 0 20px;
      font-family: "Poppins", sans-serif;
      color: #3c3c3b; }
      .navbar .container-fluid .nav-item .nav-link:hover {
        transform: scale(1.01);
        transition: 0.1s;
        font-weight: 600; }
    .navbar .container-fluid .nav-item .dropdown-menu .dropdown-item {
      text-decoration: none;
      margin: 5px 0px 5px 0px;
      font-family: "Poppins", sans-serif;
      color: #3c3c3b; }

.footer__container {
  display: flex;
  flex-direction: row;
  font-family: "Poppins", sans-serif;
  padding: 40px 0 0 0;
  margin: 0 20px 40px 25px;
  border-top: solid 1px #cccccc;
  align-items: flex-start;
  overflow: hidden; }
  .footer__container .imgLogo img {
    margin: 0 25px 0px 40px;
    width: max-content; }
  .footer__container .footer__form {
    margin: 0 30px 0 30px; }
    .footer__container .footer__form .form__container input {
      font-family: "Poppins", sans-serif;
      margin: 5px 0 5px 0;
      padding: 2px 10px 2px 10px;
      border: solid 0.1px;
      border-radius: 15px; }
    .footer__container .footer__form .form__container .btn {
      margin: 8px 0 0 0;
      border-radius: 15px !important; }
  .footer__container .footer__info {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 100vw;
    justify-content: space-evenly; }
    .footer__container .footer__info .footer__help {
      margin: 0 10px 0 10px; }
      .footer__container .footer__info .footer__help .help__list {
        padding: 0 !important; }
        .footer__container .footer__info .footer__help .help__list li {
          text-decoration: none;
          list-style-type: none; }
          .footer__container .footer__info .footer__help .help__list li a {
            text-decoration: none;
            color: black; }
    .footer__container .footer__info .footer__contact .contact__list {
      list-style-type: none; }

.carousel {
  margin-top: 5px; }

.carousel__min {
  display: none; }

.container {
  margin-top: 45px; }
  .container .row .cardCategory__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100%;
    text-decoration: none;
    transition: all 0.3s; }
    .container .row .cardCategory__container:hover {
      transform: scale(1.05);
      transition: 0.3s; }
    .container .row .cardCategory__container .cardCategory__image {
      height: 233px;
      overflow: hidden; }
    .container .row .cardCategory__container .cardCategory__title {
      margin: 10px 10px 20px 10px;
      text-decoration: none;
      color: #3c3c3b;
      font-family: "Poppins", sans-serif; }

.productos__container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-template-areas: "product-1 product-2 product-3" "product-4 product-5 product-6" "product-7 product-8 product-9";
  justify-content: center;
  justify-items: center;
  margin: 25px 0 25px 0; }
  .productos__container .product-1 {
    grid-area: product-1; }
  .productos__container .product-2 {
    grid-area: product-2; }
  .productos__container .product-3 {
    grid-area: product-3; }
  .productos__container .product-4 {
    grid-area: product-4; }
  .productos__container .product-6 {
    grid-area: product-6; }
  .productos__container .product-7 {
    grid-area: product-7; }
  .productos__container .product-8 {
    grid-area: product-8; }
  .productos__container .product-9 {
    grid-area: product-9; }
  .productos__container .productos__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 272px;
    overflow: hidden;
    margin: 10px;
    text-decoration: none; }
    .productos__container .productos__card .productos__image {
      height: 409px;
      overflow: hidden;
      transition: all 0.3s; }
      .productos__container .productos__card .productos__image:hover {
        transform: scale(1.1);
        transition: 0.3s; }
      .productos__container .productos__card .productos__image .productos__img {
        height: 409px !important; }
    .productos__container .productos__card .productos__description {
      padding: 10px 0 0 0;
      z-index: 2;
      background-color: white;
      width: 100%;
      text-decoration: none; }
      .productos__container .productos__card .productos__description:hover {
        opacity: 0.8; }
      .productos__container .productos__card .productos__description .productos__title {
        margin-bottom: 0 !important;
        font-family: "Poppins", sans-serif;
        text-decoration: none !important;
        color: #3c3c3b;
        text-align: center; }

.frecuentes__container {
  position: relative;
  left: 15%;
  width: 70vw;
  margin-top: 40px;
  margin-bottom: 40px; }
  .frecuentes__container .accordion-button:not(.collapsed) {
    background-color: white;
    color: black; }

.accordion-button:focus {
  box-shadow: none; }

body .page__title {
  text-align: center;
  font-size: medium; }

.contact__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px 0 40px 0; }
  .contact__container .contact__info {
    margin: 0 50px 0 0; }
    .contact__container .contact__info .contact__list {
      margin: 0 !important;
      padding: 0 !important; }
      .contact__container .contact__info .contact__list li {
        text-decoration: none;
        list-style-type: none;
        margin: 5px 0 0 0; }
    .contact__container .contact__info .contact__social {
      display: flex;
      flex-direction: row;
      margin: 20px 0 20px 0; }
      .contact__container .contact__info .contact__social .contact__link {
        margin-right: 20px;
        color: black; }
  .contact__container .formContact__container {
    width: 50vw; }
    .contact__container .formContact__container .btn {
      margin: 20px 0 10px 0; }

.sesion__container {
  display: flex;
  justify-content: center;
  margin: 10px 0 40px 0; }
  .sesion__container .formSesion__container {
    width: 60vw; }
    .sesion__container .formSesion__container .btn-primary {
      --bs-btn-bg: black;
      --bs-btn-border-color: black;
      --bs-btn-hover-bg: rgb(54, 54, 54);
      --bs-btn-hover-border-color: #333333;
      --bs-btn-active-bg: black;
      --bs-btn-active-border-color: black; }
    .sesion__container .formSesion__container .btn-secondary {
      --bs-btn-bg: rgb(102, 102, 102);
      --bs-btn-border-color: rgb(102, 102, 102);
      --bs-btn-hover-bg: black;
      --bs-btn-hover-border-color: #333333;
      --bs-btn-active-bg: black;
      --bs-btn-active-border-color: black; }

@media (max-width: 1200px) {
  .footer__container {
    margin-bottom: 50px; }
    .footer__container .footer__info {
      flex-direction: column;
      margin: 0 0 0 40px; }
      .footer__container .footer__info .footer__help {
        margin: 0; }
      .footer__container .footer__info .footer__contact .contact__list {
        margin: 0;
        padding: 0; } }

@media (max-width: 992px) {
  /* HEADER  */
  .carritoUser__container {
    left: 80vw;
    top: 50px; }
  .navbar .container-fluid {
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 0 40px 0 20px !important; }
  .navbar .imgLogo {
    margin: 0 0 0 40px; }
  .container .row {
    justify-content: center !important; }
    .container .row .col-sm-12 {
      padding-left: 0 !important;
      padding-right: 0 !important;
      width: 100vw; }
  .carousel__max {
    display: none; }
  .carousel__min {
    display: block !important; }
  /* FOOTER  */
  .footer__container {
    flex-direction: column;
    width: 80vw;
    margin: 0 0 50px 40px; }
    .footer__container .imgLogo img {
      margin: 0;
      width: max-content; }
    .footer__container .footer__form {
      margin: 30px 0 0 0;
      width: 60%; }
      .footer__container .footer__form form input {
        width: 100%; }
    .footer__container .footer__info {
      display: flex;
      flex-direction: column;
      align-content: center;
      width: 100vw;
      justify-content: space-evenly;
      margin: 30px 0 0 0; }
      .footer__container .footer__info .footer__help {
        margin: 0 !important; }
    .footer__container .footer__contact .contact__list {
      padding: 0 !important; }
  /* PRODUCTOS  */
  .productos__container {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "product-1 product-2" "product-3 product-4" "product-5 product-6" "product-7 product-8" "product-9 product-9"; }
  /* CONTACTO  */
  .contact__container {
    margin-left: 40px;
    margin-right: 40px; } }

@media (max-width: 768px) {
  .carritoUser__container {
    left: 75vw; }
  .contact__container {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    width: 85vw; }
    .contact__container .formContact__container {
      width: 100%; } }

@media (max-width: 576px) {
  .carritoUser__container {
    position: absolute;
    top: 50px;
    left: 70vw;
    z-index: 2; }
    .carritoUser__container .carritoUser__icon {
      color: black;
      margin: 10px; }
      .carritoUser__container .carritoUser__icon:hover {
        transform: scale(1.1);
        transition: 0.1s; }
  .navbar .imgLogo {
    margin: 0 0 0 20px; }
    .navbar .imgLogo .logo__max {
      display: none; }
    .navbar .imgLogo .logo__min {
      display: block !important; }
  .productos__container {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "product-1" "product-2" "product-3" "product-4" "product-5" "product-6" "product-7" "product-8" "product-9"; }
    .productos__container .productos__card {
      width: 100vw; }
  .footer__container {
    display: flex;
    justify-content: center;
    margin: 0 0 40px 50px;
    flex-direction: column;
    width: 80vw; }
  .contact__container .contact__info {
    margin: 0 40px 0 0; }
    .contact__container .contact__info iframe {
      width: 100% !important; }
  .sesion__container {
    display: flex;
    justify-content: center;
    margin: 20px 0 50px 0; }
    .sesion__container .formSesion__container {
      width: 90vw; } }
