.frecuentes__container {
  position: relative;
  left: 15%;
  width: 70vw;
  margin-top: 40px;
  margin-bottom: 40px;
  .accordion-button:not(.collapsed) {
    background-color: white;
    color: black;
  }
}

.accordion-button:focus{
    box-shadow: none;
}