.carritoUser__container {
  position: absolute;
  top: 60px;
  left: 85vw;
  z-index: 1;
  .carritoUser__icon {
    color: black;
    margin: 20px;
    &:hover {
      transform: scale(1.1);
      transition: 0.1s;
    }
  }
}
.navbar {
  background-color: white !important;
  margin: 0px 0 10px 0;
  
  .container-fluid {
    padding: 0 !important;
    flex-direction: column;
    background-color: white;
    border-bottom: solid 1px rgb(204, 204, 204);
    .imgLogo {
      img {
        margin: 20px 0 20px 0;
      }
      .logo__min{
        display: none;
      }
    }
    .nav-item {
      .nav-link {
        text-decoration: none;
        margin: 0 20px 0 20px;
        font-family: "Poppins", sans-serif;
        color: #3c3c3b;
        &:hover {
          transform: scale(1.01);
          transition: 0.1s;
          font-weight: 600;
        }
      }
      .dropdown-menu {
        .dropdown-item {
          text-decoration: none;
          margin: 5px 0px 5px 0px;
          font-family: "Poppins", sans-serif;
          color: #3c3c3b;
        }
      }
    }
  }
}

.breadcrumb__content{
  .breadcrumb{
    .breadcrumb-item{
      a{
        text-decoration: none !important;
        color: black;
        margin-left: 2rem;
      }
    }
  }
}
